.navbar {
	font-size: 50px;
	text-align: left;
	background-color: #f2daef;
	color: #686268;
	padding-right: 1000px;
	padding-bottom: 1px;
	margin-top: -110px;
	margin-left: -60px;
	margin-bottom: 80px;
}

.logo-text {
	padding-top: 40px;
	margin-left: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

